node_modules/
.env
# Bỏ qua tất cả các file và thư mục
*
!*/

# Giữ lại .gitignore để git theo dõi chính file này
!.gitignore

# Giữ lại 4 file bạn yêu cầu:
!EXPORT_BANG_GIA_GUIDE.md
!so_price_fix.FXP
!/FRM/ctbhd.SCT
!/frm/ctbhd.SCX
!/frm/kct04.SCT
!/frm/kct04.SCX
!dang_phat_trien.md
!All_fix.md
!frm/ctbhh.scx
!frm/ctbhh.sct
!Import_BG/import_bang_gia_tool.py
!Import_BG/cai_dat_thu_vien.bat
!Import_BG/chay_phan_mem.vbs